:root {
  --primary-bg: #121212; /* Main background color, suitable for body */
  --secondary-bg: #1e1e1e; /* Secondary background, perhaps for sidebars or modals */
  --accent-red: #ff3b30; /* Accent color for errors or warnings */
  --accent-blue: #007aff; /* Accent color for information or clickable items */
  --text-primary: #e0e0e0; /* Main text color */
  --text-secondary: #b0b0b0; /* Secondary text, perhaps for less important information or labels */
  --hover-bg: #2a2a2a; /* Background color for hoverable items */
  --border-color: #2c2c2c; /* Borders for dividers or around elements */
  --button-primary: #181818; /* Primary button background */
  --button-secondary: #242424; /* Secondary button or perhaps toggle switches */
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  font-family: "Cairo";
  background-color: var(--primary-bg);
  color: var(--text-primary);
}

main {
  display: flex;
  gap: 2rem;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  margin-bottom: 20px;
  flex: 4;
}

ul {
  padding-top: 0; /* Reset top padding for ul */
}

thead th {
  background-color: var(--accent-red);
  padding: 10px 8px;
  border: 1px solid var(--border-color);
  text-align: left;
  font-size: 1.5rem;
}

tbody td {
  color: var(--text-secondary);
  padding: 8px;
  border: 1px solid var(--border-color);
}
tbody tr:nth-child(odd) {
  background-color: var(--secondary-bg);
}

tbody tr:hover {
  background-color: var(--hover-bg);
}

tbody tr:hover td {
  color: var(--text-primary);
}

tbody td:first-child {
  font-weight: bold;
}

li {
  list-style: none;
  color: var(--text-secondary);
  padding: 8px;
  border: 1px solid var(--border-color);
}

li:nth-child(odd) {
  background-color: var(--secondary-bg);
}

li:hover {
  background-color: var(--hover-bg);
  color: var(--text-primary);
}

ul h2 {
  background-color: var(--accent-red);
  padding: 10px 1rem;
  border: 1px solid var(--border-color);
  text-align: left;
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  main {
    flex-direction: column;
  }
}
